<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Welcome To Registration Page</p>
    <p >Login</p>
  </mat-drawer>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Welcome</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"  (click)="drawer.toggle()">menu</mat-icon>
    </mat-toolbar-row>
    </mat-toolbar>
    <h1 class="heading">Registration</h1>
    <div class="form-style card" [ng2-loading]="show" [config]="loadingConfig" [template]="customTemplate" >
    <form class="example-form" [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput placeholder="Enter First Name" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput placeholder="Enter Last Name" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="Enter Email" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mobile</mat-label>
        <input formControlName="mobile" min="10" max="10" matInput type="tel" maxlength="10" placeholder="Enter Mobile Number" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="" value="">
      </mat-form-field>
      <label *ngIf="loginForm.get('password').status === 'INVALID'" class="pwd-label-color">Password must be long 8 alphanumeric character ex: John123</label>
      <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input #confirmPassword  formControlName="confirmPassword" matInput [type]="inputType" placeholder="" value="">
      </mat-form-field>
      <div class="row">
        <button mat-raised-button color="primary" [disabled]="loginForm.status === 'INVALID'" (click)="login()">Register</button>
      </div>
    </form>
    <ng-template #customTemplate>
      <div class="align-items-center d-flex flex-column flex-direction">
        <div class="loader">Loading...</div>
          <div class="custom-loader"></div>
      </div>
  </ng-template>
  </div>
</mat-drawer-container>

